# Start of script

# Editor configuration file for Seanpm2001/SNU 2D Programming Tools IDE project (V6)

root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
line_wrap_mode = soft wrap

# Markdown document
[*.md]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
line_wrap_mode = soft wrap

# YAML (YAML Ain't Markup Language) File
[*.yml *.yaml]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
line_wrap_mode = soft wrap

# Plain Text file
[*.txt]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
line_wrap_mode = soft wrap

# GNU Makefile
[*.mk *.make]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
line_wrap_mode = soft wrap

# HTML (HyperText Markup Language) document
[*.htm *.html]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
line_wrap_mode = soft wrap

# BASH Shell Script
[*.sh]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
line_wrap_mode = soft wrap

# Emacs Lisp
[*.el]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
line_wrap_mode = soft wrap

# LaTeX & BiBTeX
[*.tex *.texshop *.bib]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
line_wrap_mode = soft wrap

# Go! By Francis McCabe
[*.go]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
line_wrap_mode = soft wrap

# Portable Object File
[*.po]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
line_wrap_mode = soft wrap

# Rich Text Format Document
[*.rtf]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
line_wrap_mode = soft wrap

# GNU AutoConf(iguration) file
[*.in *.out *.output]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
line_wrap_mode = soft wrap

# Scan file
[*.scan]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
line_wrap_mode = soft wrap

# M4 Automation file & M4Sugar file
[*.m4]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
line_wrap_mode = soft wrap

# Portable C source file
[*.c]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
line_wrap_mode = soft wrap

# C Header file
[*.h]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
line_wrap_mode = soft wrap

# Roff/Groff file
[*.0 *.1 *.2 *.3 *.4]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
line_wrap_mode = soft wrap

# GitIgnore files
[*.gitignore *.csvignore]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
line_wrap_mode = soft wrap

# MacOS Automation files
[*.post_install *.post_upgrade]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
line_wrap_mode = soft wrap

# SGML (Standardized General Markup Language) document
[*.sgml]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
line_wrap_mode = soft wrap

# XML (eXtensible Markup Language) document
[*.xml]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
line_wrap_mode = soft wrap

# CSS (Cascade Styling Sheet) file
[*.css]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
line_wrap_mode = soft wrap

# RDF (Resource Description Framework summary) file
[*.rdf]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
line_wrap_mode = soft wrap

# GPG (GNU Privacy Guard) Key
[*.gpg]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
line_wrap_mode = soft wrap

# JSON (JavaScript Object Notation) file
[*.json]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
line_wrap_mode = soft wrap

# DL (Dynamic Library) file
[*.dl]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
line_wrap_mode = soft wrap

# LYX (LYX Document) file
[*.lyx]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
line_wrap_mode = soft wrap

# TOC (Table of Contents) file
[*.toc]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
line_wrap_mode = soft wrap

# PDF (Portable Document Format) file
[*.pdf]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
line_wrap_mode = soft wrap

# PNG (Portable Network Graphics) image file
[*.png]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
line_wrap_mode = soft wrap

# GRAFFLE (OmniGraffle sketch) file
[*.graffle]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
line_wrap_mode = soft wrap

# TDPL (Top Down Parsing Language) file
[*.tdpl]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
line_wrap_mode = soft wrap

# Other/unknown
[*.am *.gh *.ap *.ah *.aam *.af *.goc *.ah *.alx *.glx *.sty *.nls *.nlo *.lot *.lof *.loe *.ind *.ilg *.ilx *.brf *.glo *.plo *.lo *.o *.la *.lai *.gprules *.ul]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
line_wrap_mode = soft wrap

# File info

# File type: Editorconfig file (*.editorconfig)
# File version: 1 (Thursday, 2021 November 25th at 8:25 pm)
# Line count (including blank lines and compiler line): 353

# End of script
